
#footer{
    background-color:rgb(12, 6, 6);
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

#tel{
  color: #FFF;
}

#strong{
  color: #FFF;
}

.svg{
    border-radius: 5px;
}

.liTxt{
    list-style: none;
    font-weight: bold;
    color: #FFF;
    margin-top: 5px;
}

.divUl{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.li{
    list-style: none;
}

#icone{
    background-color: #E8E8E8;
    color: #000;
    width: 30px;
    height: 30px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div{
    margin-top: 20px;
}

#h2{
    text-align: center;
    color: #fff;
}

#rede{
    display: flex;
    flex-direction: row;
}

@media (max-width:425px){
    #container{
      display: flex;
      flex-direction: column;
    }

  }

  @media (max-width:596px) {
    #container{
        display: flex;
        flex-direction: column;
    }

    .div{
        margin: 0px auto;
    }

    #rede{
        margin: 0px auto;
    }

    #footer{
        height: 280px;
    }
  }


